/*
原則として、許可なしの再配布は禁止させていただきます。
また、無料でお使いの方は、【ＰＲ枠】のリンクは全て削除禁止です。
加工後の削除も禁止させていただいております。
絶対に削除しないでお使いください。
ご不明な点は、http://www.s-hoshino.com/info.html、または、
http://www.megapx.com/info.htmlのフォームよりお問い合わせください。
*/

input[type=checkbox] {
    width: 20px;
    height: 20px;
    vertical-align: 0;
}
input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}




* {
	color:#333333;
	padding:0;
	font-size: 20px;
	line-height: 140%;
	margin: 0;
	background-image: none;
}

body {
	background-color: #E7E7E7;
	background-image: url(img/bg.gif);
	background-repeat: repeat-x;
}

a {
	color:#D58000;
}

a:hover {
	text-decoration: none;
}

a img {
	border:none;
}

hr {
	clear: both;
	height: 1px;
}

strong {
	color: #394D4E;
}


.chui {
	font-size: 10px;
	color: #FF0000;
}


/*
ベース
-------------------------------------------------------------------*/
#base {
	width:800px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	margin-top: 0px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #000000;
	border-left-color: #000000;
}

#wrap {
	float: left;
	padding: 5px;
	margin-top: 5px;
}


/*
ヘッダー
-------------------------------------------------------------------*/

#header {
	width:800px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/head.jpg);
 	background-size: contain;
	height: 151px;
}


h1 a {
	display: block;
	text-decoration: none;
	width: 390px;
	margin-left: 25px;
	padding-top: 45px;
	font-size: 28px;
	line-height: 28px;
	color: #FFFFFF;
}

#header #sub {
	font-size: 10px;
	color: #FFFFFF;
	margin-left: 30px;
}

#header #sub2 {
	text-align: right;
	padding-right: 30px;
	font-size: 10px;
	color: #FFFFFF;
	padding-top: 5px;
}

/*ナビゲーション
----------------------------------------------- */
#nav {
	width: 802px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(img/nav.gif);
	background-size:802px 45px;
	height: 36px;	
	padding-top: 6px;
}

#nav ul {
	margin-left: 20px;
  }
  

#nav li {
	display: inline;
	list-style-type: none;
  }
  
#nav li a {
	color: #666666;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	background-image: url(img/li.gif);
	background-repeat: no-repeat;
	background-position: 10px center;
	padding-left: 22px;
	padding-right: 18px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
}

#nav li a:hover {
	color: #000000;
	background-image: url(img/li_ov.gif);
	background-color: #FDE2A6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #B9B8AC;
}


/*
コンテンツ
-------------------------------------------------------------------*/

#contents {
	width:750px;
	float: center;
}

#contents p{
	padding-top: 5px;
	padding-bottom: 5px;
	background-image: url(img/note_line.gif);
	margin-right: 30px;
	margin-left: 30px;
	line-height: 20px;
	padding-right: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#contents h2 {
	font-size: 23px;
	padding-left: 10px;
	color: #3F3F3F;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 5px;
	font-weight: bold;
	border-left-width: 7px;
	border-left-style: solid;
	border-left-color: #E39F3A;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
	padding-top: 2px;
	padding-bottom: 2px;
	line-height: 22px;
}


#contents h3 {
	font-size: 20px;
	border-left-width: 5px;
	border-left-style: solid;
	border-left-color: #E6B25C;
	padding-left: 7px;
	color: #555555;
	line-height: 18px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 13px;
}

#contents h3 a {
	font-size: 14px;
}

#contents h4 {
	font-size: 14px;
	color: #BD872D;
	line-height: 16px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 25px;
}

#contents ul {
	margin-left: 30px;
	list-style-type: none;
}
#contents li a {
	font-size: 12px;
}


#contents #c_pad {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

/* for IE \*/
* html body #base #contents #c_pad {
	padding: 9px;
}	
/**/

#contents #c_pad p a {
	line-height: 20px;
}

#contents #c_pad p strong {
	line-height: 20px;
}

#contents #top_img {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #EEEDE9;
	background-image: url(img/top_img.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 150px;
}

#contents #c_pad #top_img p {
	font-size: 10px;
	color: #FFFFFF;
	background-image: none;
	margin-top: 55px;
	margin-left: 25px;
	margin-right: 300px;
}


#contents #c_pad .img_left {
	float: left;
	background-color: #FFFFFF;
	padding: 5px;
}

#contents #c_pad .img_left img {
	border: 1px solid #999999;
}

#contents #c_pad .c_img_left {
	float: left;
	background-color: #FFFFFF;
	padding: 10px;
}

#contents #c_pad .c_img_left img {
	border: 1px solid #999999;
}

#contents #c_pad .c_img_right {
	float: right;
	background-color: #FFFFFF;
	padding: 10px;
}

#contents #c_pad .c_img_right img {
	border: 1px solid #999999;
}

.btn a {
	font-size: 10px;
	line-height: 17px;
	height: 17px;
	padding-right: 5px;
	padding-left: 5px;
	color: #FFFFFF;
	background-color: #7A7A76;
	border: 1px solid #D2D2D2;
	width: 80px;
	display: block;
	float: right;
	text-align: center;
	text-decoration: none;
	background-image: url(img/btn.gif);
	margin-right: 5px;
	position: absolute;
	right: 5px;
	bottom: 8px;
}

.btn a:hover {
	background-color: #FF9900;
	background-image: url(img/btn_ov.gif);
}
/*
２box
-------------------------------------------------------------------*/
#base #wrap #contents #c_pad .box2 {
	float: left;
	height: 130px;
	width: 270px;
	border: 1px solid #DDDDDD;
	margin: 5px;
	padding: 5px;
	background-image: url(img/box_bg.gif);
	background-repeat: repeat-x;
	background-position: bottom;
	position: relative;
}
#base #wrap #contents #c_pad .box2 h3 {
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DCDBD8;
	background-color: #CC8720;
	border-left-color: #E8B25C;
	color: #FFFFFF;
}

#base #wrap #contents #c_pad .box2 p {
	margin: 0px;
}
/*
テーブル
-------------------------------------------------------------------*/

#contents #c_pad table {
	width: 555px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
#contents #c_pad table td {
	padding: 5px;
	border: 1px solid #EAE8DF;
}
#contents #c_pad table th {
	background-color: #EFEDE7;
	padding: 7px;
}
#contents #c_pad form table th {
	width: 127px;
}

/*
パンくずリスト
-------------------------------------------------------------------*/
#contents #pan {
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #EAEAEA;
}
#contents #pan a {
	margin-right: 7px;
	margin-left: 7px;
}
#contents #pan strong {
	margin-left: 7px;
}

/*
サイド・メニュー
-------------------------------------------------------------------*/
#side {
	float: left;
	width: 175px;
	background-color: #EEEDE9;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-left: 5px;
}

#side li {
	list-style-type: none;
}

.side_box {
	padding-top: 2px;
	margin-bottom: 5px;
	width: 160px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	border: 1px solid #FFFFFF;
	background-color: #B9B8AC;
}

.side_box h3 {
	display: block;
	width: 146px;
	line-height: 23px;
	color: #FFFFFF;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	margin-top: 3px;
	font-size: 13px;
	text-align: center;
	background-color: #666666;
	background-image: url(img/side_h3.gif);
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #969583;
	border-left-color: #969583;
	height: 23px;
}

.side_box ul {
	margin-bottom: 5px;
}

.side_box li a {
	display: block;
	width:120px;
	font-size: 12px;
	color:#555555;
	line-height: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 3px;
	background-image:url(img/li.gif);
	background-repeat: no-repeat;
	background-color: #EEEEEE;
	padding-top: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #948C74;
	background-position: 7px center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CBC8BC;
	text-decoration: none;
}


.side_box li a:hover {
	background-color: #FCF9E4;
	color: #000000;
	text-decoration: none;
	background-position: 8px;
}


#side img {
	border:none;
}

#side p {
	padding: 10px;
}

#side p a {
	font-size:10px;
	background-color: #E2DECF;
	display: block;
	padding: 10px;
	line-height: 15px;
	border: 2px solid #C6BCB0;
}

#base #wrap #side #side_pr {
	margin: 10px;
	padding: 10px;
	border: 1px solid #DBD9D0;
	background-color: #F8F8F5;
}


/*
フッタメニュー
-------------------------------------------------------------------*/

#f_menu {
	clear: both;
	background-image: url(img/foot_bg.gif);
	background-repeat: repeat-x;
	border: 1px solid #E2E2DE;
	padding: 10px;
	background-color: #F5F4F0;
	background-position: bottom;
}
#f_menu li {
	list-style-type: none;
	display: inline;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 10px;
	line-height: 20px;
}
#f_menu ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
#f_menu li a {
	font-size: 12px;
}

#f_menu p {
	font-size: 10px;
	color: #333333;
}

#f_menu #tmplby,
#f_menu #tmplby span {
	font-size: 9px;
	color: #888888;
	padding-bottom: 5px;
	padding-left: 5px;
}
#f_menu #tmplby a {
	font-size: 9px;
	margin-left: 2px;
	margin-left: 2px;
	color: #888888;
}
/*
コピーライト
-------------------------------------------------------------------*/

address {
	font-style: normal;
	color: #FFFFFF;
	text-align: right;
	display: block;
	background-color: #8C8A84;
	font-size: 10px;
	padding: 5px;
}
